.search-input{
  width: 60px;
  height: 60px;
  background: none;
  border-radius: 50%;
  border: 4px solid #fff;
  box-sizing: border-box;
  outline: none;
  transition: width 0.4s ease-in-out,
  border-radius 0.8s ease-in-out,
  padding 0.2s;
  transition-delay: 0.4s;
  color: white;
  font-size: 20px;
}
.changToSearchFlag{
  width: 360px;
  border-radius: 0;
  padding: 0 40px 0 15px;
}
.changToSearchFlag2{
  width: 360px;
  border-radius: 0;
  padding: 0 40px 0 15px;
}
.search-btn{
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  box-sizing: border-box;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.search-btn::before{
  content: '';
  width: 4px;
  height: 25px;
  background: white;
  position: absolute;
  transform: rotate(-45deg);
  bottom: -16px;
  right: -6px;
  transition: 0.3s;
}
.btnCloseFlag::before,.btnCloseFlag::after{
  content: '';
  width: 4px;
  height: 34px;
  background: white;
  position: absolute;
  bottom: 12px;
  right: 28px;
}
.btnCloseFlag::before{
  transform: rotate(-45deg);
}
.btnCloseFlag::after{
  transform: rotate(45deg);
}
.subBtn1{
  height: 60px;
  width: 156px;
  background: none;
  color: #fff;
  position: absolute;
  top: 0;
  right: -45%;
  border: 4px solid;
  font-size: 1.5rem;
}

.subBtn2{
  height: 60px;
  width: 156px;
  background: #2c3e50;
  color: #232323;
  position: absolute;
  top: 0;
  right: 13%;
  border: 4px solid;
  font-size: 1.5rem;
}
.subBtn{
  display: none;
}
