#more-head{
  position: absolute;
  top: 0;
  left: 10%;
}
#more-body{
  position: absolute;
  top: 15%;
  left: 19%;
}
.codeBody{
  width: 800px;
  background: rgba(255,255,255,0.5);
  padding: 10px 0px 10px 40px;
  margin: 6px 0;
  overflow: hidden;
  border-radius: 5px;
  padding: 60px;
}
.code-format{
  list-style: none;
  margin: 10px;
}
